@layer globals {
  :root {
    --color-default-50: #ffffff;
    --color-default-950: #000000;

    --color-gray-50: #f5f5f5;
    --color-gray-100: #efefef;
    --color-gray-200: #dcdcdc;
    --color-gray-300: #bdbdbd;
    --color-gray-400: #989898;
    --color-gray-500: #7c7c7c;
    --color-gray-600: #656565;
    --color-gray-700: #525252;
    --color-gray-800: #464646;
    --color-gray-900: #3d3d3d;
    --color-gray-950: #292929;

    --color-primary-50: #eaf0fc;
    --color-primary-100: #d9e5fa;
    --color-primary-200: #b9cef6;
    --color-primary-300: #90adf1;
    --color-primary-400: #6280ec;
    --color-primary-500: #253fe4;
    --color-primary-600: #1a25d6;
    --color-primary-700: #2f34a7;
    --color-primary-800: #292e81;
    --color-primary-900: #292d64;
    --color-primary-950: #181a3a;

    --color-secondary-50: #fafbfc;
    --color-secondary-100: #f5f6f7;
    --color-secondary-200: #ebeff0;
    --color-secondary-300: #d5dee1;
    --color-secondary-400: #a8babe;
    --color-secondary-500: #90a7ac;
    --color-secondary-600: #6b8b94;
    --color-secondary-700: #59757d;
    --color-secondary-800: #415358;
    --color-secondary-900: #2e393d;
    --color-secondary-950: #181e20;

    --color-tertiary-50: #f0fbfb;
    --color-tertiary-100: #dbf3f5;
    --color-tertiary-200: #b7e5ea;
    --color-tertiary-300: #85d2db;
    --color-tertiary-400: #4cb5c4;
    --color-tertiary-500: #3099aa;
    --color-tertiary-600: #2b7d8f;
    --color-tertiary-700: #296675;
    --color-tertiary-800: #295461;
    --color-tertiary-900: #264753;
    --color-tertiary-950: #142e38;

    --color-highlight-50: #fff2f1;
    --color-highlight-100: #ffe2e0;
    --color-highlight-200: #ffcbc7;
    --color-highlight-300: #ffa69f;
    --color-highlight-400: #ff7468;
    --color-highlight-500: #fa4839;
    --color-highlight-600: #e93627;
    --color-highlight-700: #c32012;
    --color-highlight-800: #a11e13;
    --color-highlight-900: #852017;
    --color-highlight-950: #490b06;

    --color-accent-50: #fcfee8;
    --color-accent-100: #f9ffc2;
    --color-accent-200: #f6ff87;
    --color-accent-300: #f9ff43;
    --color-accent-400: #fffa10;
    --color-accent-500: #f3e403;
    --color-accent-600: #ceb100;
    --color-accent-700: #a48004;
    --color-accent-800: #88640b;
    --color-accent-900: #735110;
    --color-accent-950: #432b05;

    --container-width: 80rem;

    --header-height: 3.5rem;

    --font-family-body: "Open Sans";
    --font-family-heading: "Open Sans";

    --border-xs: 0.0625rem;
    --border-sm: 0.125rem;
    --border-md: 0.1875rem;
    --border-lg: 0.375rem;
    --border-xl: 0.5rem;

    --radii-xs: 0;
    --radii-sm: 0.25rem;
    --radii-md: 0.375rem;
    --radii-lg: 0.5rem;
    --radii-xl: 0.75rem;
    --radii-2xl: 1.25rem;
    --radii-3xl: 1.75rem;
    --radii-4xl: 2rem;
    --radii-full: 9999px;

    --spacing-px: 1px;
    --spacing-0_5: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-1_5: 0.375rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;
    --spacing-36: 9rem;
    --spacing-40: 10rem;
    --spacing-48: 12rem;
    --spacing-56: 14rem;
    --spacing-64: 16rem;
    --spacing-80: 20rem;

    --size-1: 0.0625rem;
    --size-2: 0.125rem;
    --size-4: 0.25rem;
    --size-6: 0.375rem;
    --size-8: 0.5rem;
    --size-12: 0.75rem;
    --size-16: 1rem;
    --size-20: 1.25rem;
    --size-24: 1.5rem;
    --size-28: 1.75rem;
    --size-32: 2rem;
    --size-36: 2.25rem;
    --size-40: 2.5rem;
    --size-44: 2.75rem;
    --size-48: 3rem;
    --size-56: 3.5rem;
    --size-64: 4rem;
    --size-80: 5rem;
    --size-96: 6rem;
    --size-112: 7rem;
    --size-128: 8rem;
    --size-144: 9rem;
    --size-160: 10rem;
    --size-192: 12rem;
    --size-224: 14rem;
    --size-240: 15rem;
    --size-288: 18rem;
    --size-320: 20rem;
    --size-384: 24rem;

    --font-size-step-7: clamp(2.1925rem, 1.5713rem + 2.5486vw, 3.865rem);
    --font-size-step-6: clamp(1.9931rem, 1.5116rem + 1.9753vw, 3.2894rem);
    --font-size-step-5: clamp(1.8119rem, 1.4451rem + 1.5048vw, 2.7994rem);
    --font-size-step-4: clamp(1.6469rem, 1.3737rem + 1.1209vw, 2.3825rem);
    --font-size-step-3: clamp(1.4975rem, 1.3006rem + 0.8076vw, 2.0275rem);
    --font-size-step-2: clamp(1.3613rem, 1.2260rem + 0.5551vw, 1.7256rem);
    --font-size-step-1: clamp(1.2375rem, 1.1516rem + 0.3525vw, 1.4688rem);
    --font-size-step-0: clamp(1.125rem, 1.0786rem + 0.1905vw, 1.25rem);
    --font-size-step--1: clamp(1.0225rem, 1.0072rem + 0.0629vw, 1.0638rem);
    --font-size-step--2: clamp(0.93rem, 0.9391rem + -0.0372vw, 0.9056rem);

    --surface-background: var(--color-default-50);
    --surface-background-0: rgba(255 255 255 / 0);
    --surface-primary-default: var(--color-primary-500);
    --surface-primary-hover: var(--color-primary-700);
    --surface-primary-active: var(--color-primary-800);
    --surface-secondary-default: var(--color-secondary-200);
    --surface-secondary-hover: var(--color-secondary-300);
    --surface-secondary-active: var(--color-secondary-400);
    --surface-tertiary-default: var(--color-default-50);
    --surface-tertiary-hover: var(--color-gray-100);
    --surface-tertiary-active: var(--color-gray-200);
    --surface-quaternary: var(--color-gray-300);
    --surface-quinary: var(--color-gray-400);
    --surface-senary: var(--color-tertiary-800);
    --surface-septenary: var(--color-tertiary-900);
    --surface-octonary: var(--color-secondary-950);
    --surface-accent: var(--color-gray-50);
    --surface-highlight-default: var(--color-tertiary-100);
    --surface-highlight-active: var(--color-tertiary-400);
    --surface-highlight-hover: var(--color-tertiary-300);
    --surface-error: #e7c6c6;
    --surface-warning: #ecdec6;
    --surface-success: #cae8d7;
    --surface-info: #d1ddeb;
    --surface-accent-2: var(--color-accent-500);
    --surface-accent-3: var(--color-highlight-700);

    --text-foreground-default: var(--color-secondary-950);
    --text-foreground-hover: var(--color-secondary-900);
    --text-foreground-active: var(--color-secondary-950);
    --text-primary-default: var(--color-primary-500);
    --text-primary-hover: var(--color-primary-700);
    --text-primary-active: var(--color-primary-800);
    --text-secondary-default: var(--color-default-50);
    --text-secondary-hover: var(--color-gray-100);
    --text-secondary-active: var(--color-gray-200);
    --text-tertiary-default: var(--color-default-950);
    --text-tertiary-hover: var(--color-gray-900);
    --text-tertiary-active: var(--color-gray-800);
    --text-quaternary: var(--color-gray-200);
    --text-quinary: var(--color-gray-500);
    --text-senary: var(--color-tertiary-600);
    --text-septenary: var(--color-tertiary-300);
    --text-octonary: var(--color-secondary-800);
    --text-inverted: var(--color-default-50);
    --text-accent: var(--color-secondary-950);
    --text-highlight-default: var(--color-highlight-700);
    --text-highlight-hover: var(--color-highlight-800);
    --text-highlight-active: var(--color-highlight-900);
    --text-error: #9d0000;
    --text-warning: #855600;
    --text-success: #007032;
    --text-info: #0054b3;

    --icon-foreground: var(--color-secondary-950);
    --icon-foreground-hover: var(--color-secondary-900);
    --icon-foreground-active: var(--color-secondary-950);
    --icon-primary-default: var(--color-primary-500);
    --icon-primary-hover: var(--color-primary-700);
    --icon-primary-active: var(--color-primary-800);
    --icon-secondary-default: var(--color-default-50);
    --icon-secondary-hover: var(--color-gray-100);
    --icon-secondary-active: var(--color-gray-200);
    --icon-tertiary: var(--color-gray-300);
    --icon-quaternary: var(--color-gray-400);
    --icon-quinary: var(--color-gray-500);
    --icon-senary: var(--color-gray-600);
    --icon-septenary: var(--color-gray-700);
    --icon-octonary: var(--color-default-950);
    --icon-inverted: var(--color-default-50);
    --icon-highlight-default: var(--color-tertiary-700);
    --icon-highlight-hover: var(--color-tertiary-800);
    --icon-highlight-active: var(--color-tertiary-900);

    --outline-primary-default: var(--color-primary-500);
    --outline-primary-hover: var(--color-primary-700);
    --outline-primary-active: var(--color-primary-800);
    --outline-secondary-default: var(--color-secondary-500);
    --outline-secondary-hover: var(--color-secondary-600);
    --outline-secondary-active: var(--color-secondary-700);
    --outline-tertiary-default: var(--color-default-50);
    --outline-tertiary-hover: var(--color-gray-200);
    --outline-tertiary-active: var(--color-gray-400);
    --outline-quaternary: var(--color-gray-300);
    --outline-quinary: var(--color-gray-500);
    --outline-senary: var(--color-gray-600);
    --outline-septenary: var(--color-gray-700);
    --outline-octonary-default: var(--color-default-950);
    --outline-octonary-hover: var(--color-gray-800);
    --outline-octonary-active: var(--color-gray-700);
    --outline-disabled: var(--color-gray-400);
    --outline-inverted: var(--color-default-50);
    --outline-focus: #1063ff;
    --outline-error: #9d0000;
    --outline-warning: #855600;
    --outline-success: #007032;
    --outline-info: #0054b3;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --surface-background: var(--color-default-950);
      --surface-background-0: rgba(0 0 0 / 0);
      --surface-primary-default: var(--color-primary-500);
      --surface-primary-hover: var(--color-primary-600);
      --surface-primary-active: var(--color-primary-800);
      --surface-secondary-default: var(--color-secondary-900);
      --surface-secondary-hover: var(--color-secondary-950);
      --surface-secondary-active: var(--color-default-950);
      --surface-tertiary-default: var(--color-default-950);
      --surface-tertiary-hover: var(--color-gray-950);
      --surface-tertiary-active: var(--color-gray-800);
      --surface-quaternary: var(--color-gray-800);
      --surface-quinary: var(--color-gray-700);
      --surface-senary: var(--color-tertiary-800);
      --surface-septenary: var(--color-secondary-800);
      --surface-octonary: var(--color-secondary-900);
      --surface-accent: var(--color-gray-950);
      --surface-highlight-default: var(--color-tertiary-950);
      --surface-highlight-active: var(--color-tertiary-800);
      --surface-highlight-hover: var(--color-tertiary-900);
      --surface-error: #e7c6c6;
      --surface-warning: #ecdec6;
      --surface-success: #cae8d7;
      --surface-info: #d1ddeb;
      --surface-accent-2: var(--color-accent-500);
      --surface-accent-3: var(--color-highlight-700);

      --text-foreground-default: var(--color-secondary-50);
      --text-foreground-hover: var(--color-secondary-100);
      --text-foreground-active: var(--color-secondary-50);
      --text-primary-default: var(--color-primary-50);
      --text-primary-hover: var(--color-primary-50);
      --text-primary-active: var(--color-primary-50);
      --text-secondary-default: var(--color-default-50);
      --text-secondary-hover: var(--color-gray-100);
      --text-secondary-active: var(--color-gray-200);
      --text-tertiary-default: var(--color-default-50);
      --text-tertiary-hover: var(--color-gray-300);
      --text-tertiary-active: var(--color-gray-400);
      --text-quaternary: var(--color-gray-300);
      --text-quinary: var(--color-gray-400);
      --text-senary: var(--color-tertiary-300);
      --text-septenary: var(--color-tertiary-400);
      --text-octonary: var(--color-secondary-500);
      --text-inverted: var(--color-default-50);
      --text-accent: var(--color-secondary-950);
      --text-highlight-default: var(--color-highlight-600);
      --text-highlight-hover: var(--color-highlight-700);
      --text-highlight-active: var(--color-highlight-800);
      --text-error: #9d0000;
      --text-warning: #855600;
      --text-success: #007032;
      --text-info: #0054b3;

      --icon-foreground: var(--color-secondary-50);
      --icon-foreground-hover: var(--color-secondary-100);
      --icon-foreground-active: var(--color-secondary-50);
      --icon-primary-default: var(--color-primary-50);
      --icon-primary-hover: var(--color-primary-50);
      --icon-primary-active: var(--color-primary-50);
      --icon-secondary-default: var(--color-default-50);
      --icon-secondary-hover: var(--color-gray-100);
      --icon-secondary-active: var(--color-gray-200);
      --icon-tertiary: var(--color-gray-700);
      --icon-quaternary: var(--color-gray-600);
      --icon-quinary: var(--color-gray-500);
      --icon-senary: var(--color-gray-400);
      --icon-septenary: var(--color-gray-300);
      --icon-octonary: var(--color-default-50);
      --icon-inverted: var(--color-default-50);
      --icon-highlight-default: var(--color-tertiary-300);
      --icon-highlight-hover: var(--color-tertiary-400);
      --icon-highlight-active: var(--color-tertiary-500);

      --outline-primary-default: var(--color-primary-200);
      --outline-primary-hover: var(--color-primary-50);
      --outline-primary-active: var(--color-default-50);
      --outline-secondary-default: var(--color-secondary-600);
      --outline-secondary-hover: var(--color-secondary-700);
      --outline-secondary-active: var(--color-secondary-800);
      --outline-tertiary-default: #b9b9b9;
      --outline-tertiary-hover: #b9b9b9;
      --outline-tertiary-active: #b9b9b9;
      --outline-quaternary: var(--color-gray-500);
      --outline-quinary: #737373;
      --outline-senary: #545454;
      --outline-septenary: #333333;
      --outline-octonary-default: #333333;
      --outline-octonary-hover: #333333;
      --outline-octonary-active: #333333;
      --outline-disabled: var(--color-gray-400);
      --outline-inverted: var(--color-default-50);
      --outline-focus: #1063ff;
      --outline-error: #9d0000;
      --outline-warning: #855600;
      --outline-success: #007032;
      --outline-info: #0054b3;

    }
  }
}
