:root {
  /* PRIMITIVES */
  --color-primary-50: #eaf0fc;
  --color-primary-100: #d9e5fa;
  --color-primary-200: #b9cef6;
  --color-primary-300: #90adf1;
  --color-primary-400: #6280ec;
  --color-primary-500: #253fe4;
  --color-primary-600: #1a25d6;
  --color-primary-700: #2f34a7;
  --color-primary-800: #292e81;
  --color-primary-900: #292d64;
  --color-highlight-50: #fff2f1;
  --color-highlight-100: #ffe2e0;
  --color-highlight-200: #ffcbc7;
  --color-highlight-300: #ffa69f;
  --color-highlight-400: #ff7468;
  --color-highlight-500: #fa4839;
  --color-highlight-600: #e93627;
  --color-highlight-700: #c32012;
  --color-highlight-800: #a11e13;
  --color-highlight-900: #852017;
  --color-gray-50: #f5f5f5;
  --color-gray-100: #efefef;
  --color-gray-200: #dcdcdc;
  --color-gray-300: #bdbdbd;
  --color-gray-400: #989898;
  --color-gray-500: #7c7c7c;
  --color-gray-600: #656565;
  --color-gray-700: #525252;
  --color-gray-800: #464646;
  --color-gray-900: #3d3d3d;
  --container-width: 1280px;
  --container-width-rem: 80rem;
  --header-height: 56px;
  --header-height-rem: 3.5rem;
  --border-border-xs: 1px;
  --border-border-xs-rem: 0.0625rem;
  --border-border-sm: 2px;
  --border-border-sm-rem: 0.125rem;
  --border-border-md: 3px;
  --border-border-md-rem: 0.1875rem;
  --border-border-lg: 6px;
  --border-border-lg-rem: 0.375rem;
  --radii-full: 9999px;
  --radii-full-rem: 624.9375rem;
  --radii-sm: 4px;
  --radii-sm-rem: 0.25rem;
  --radii-md: 6px;
  --radii-md-rem: 0.375rem;
  --radii-lg: 8px;
  --radii-lg-rem: 0.5rem;
  --typography-font-body: "Open Sans";
  --typography-font-heading: "Open Sans";
  --color-default-50: #ffffff;
  --color-default-950: #000000;
  --color-secondary-50: #fafbfc;
  --color-secondary-100: #f5f6f7;
  --color-secondary-200: #ebeff0;
  --color-secondary-300: #d5dee1;
  --color-secondary-400: #a8babe;
  --color-secondary-500: #90a7ac;
  --color-secondary-600: #6b8b94;
  --color-secondary-700: #59757d;
  --color-secondary-800: #415358;
  --color-secondary-900: #2e393d;
  --color-tertiary-50: #f0fbfb;
  --color-tertiary-100: #dbf3f5;
  --color-tertiary-200: #b7e5ea;
  --color-tertiary-300: #85d2db;
  --color-tertiary-400: #4cb5c4;
  --color-tertiary-500: #3099aa;
  --color-tertiary-600: #2b7d8f;
  --color-tertiary-700: #296675;
  --color-tertiary-800: #295461;
  --color-tertiary-900: #264753;
  --spacing-px: 1px;
  --spacing-px-rem: 0.0625rem;
  --spacing-0_5: 2px;
  --spacing-0_5-rem: 0.125rem;
  --spacing-1: 4px;
  --spacing-1-rem: 0.25rem;
  --spacing-2: 8px;
  --spacing-2-rem: 0.5rem;
  --spacing-3: 12px;
  --spacing-3-rem: 0.75rem;
  --spacing-4: 16px;
  --spacing-4-rem: 1rem;
  --spacing-5: 20px;
  --spacing-5-rem: 1.25rem;
  --spacing-6: 24px;
  --spacing-6-rem: 1.5rem;
  --spacing-7: 28px;
  --spacing-7-rem: 1.75rem;
  --spacing-8: 32px;
  --spacing-8-rem: 2rem;
  --spacing-10: 40px;
  --spacing-10-rem: 2.5rem;
  --spacing-12: 48px;
  --spacing-12-rem: 3rem;
  --spacing-16: 64px;
  --spacing-16-rem: 4rem;
  --spacing-20: 80px;
  --spacing-20-rem: 5rem;
  --spacing-24: 96px;
  --spacing-24-rem: 6rem;
  --spacing-28: 112px;
  --spacing-28-rem: 7rem;
  --spacing-32: 128px;
  --spacing-32-rem: 8rem;
  --spacing-36: 144px;
  --spacing-36-rem: 9rem;
  --spacing-40: 160px;
  --spacing-40-rem: 10rem;
  --spacing-1_5: 6px;
  --spacing-1_5-rem: 0.375rem;
  --color-accent-50: #fcfee8;
  --color-accent-100: #f9ffc2;
  --color-accent-200: #f6ff87;
  --color-accent-300: #f9ff43;
  --color-accent-400: #fffa10;
  --color-accent-500: #f3e403;
  --color-accent-600: #ceb100;
  --color-accent-700: #a48004;
  --color-accent-800: #88640b;
  --color-accent-900: #735110;
  --spacing-9: 36px;
  --spacing-9-rem: 2.25rem;
  --spacing-11: 44px;
  --spacing-11-rem: 2.75rem;
  --spacing-14: 56px;
  --spacing-14-rem: 3.5rem;
  --size-size-1: 1px;
  --size-size-1-rem: 0.0625rem;
  --size-size-2: 2px;
  --size-size-2-rem: 0.125rem;
  --size-size-4: 4px;
  --size-size-4-rem: 0.25rem;
  --size-size-6: 6px;
  --size-size-6-rem: 0.375rem;
  --size-size-8: 8px;
  --size-size-8-rem: 0.5rem;
  --size-size-12: 12px;
  --size-size-12-rem: 0.75rem;
  --size-size-16: 16px;
  --size-size-16-rem: 1rem;
  --size-size-20: 20px;
  --size-size-20-rem: 1.25rem;
  --size-size-24: 24px;
  --size-size-24-rem: 1.5rem;
  --size-size-28: 28px;
  --size-size-28-rem: 1.75rem;
  --size-size-32: 32px;
  --size-size-32-rem: 2rem;
  --size-size-36: 36px;
  --size-size-36-rem: 2.25rem;
  --size-size-40: 40px;
  --size-size-40-rem: 2.5rem;
  --size-size-44: 44px;
  --size-size-44-rem: 2.75rem;
  --size-size-48: 48px;
  --size-size-48-rem: 3rem;
  --size-size-56: 56px;
  --size-size-56-rem: 3.5rem;
  --size-size-64: 64px;
  --size-size-64-rem: 4rem;
  --size-size-80: 80px;
  --size-size-80-rem: 5rem;
  --size-size-96: 96px;
  --size-size-96-rem: 6rem;
  --size-size-112: 112px;
  --size-size-112-rem: 7rem;
  --size-size-128: 128px;
  --size-size-128-rem: 8rem;
  --size-size-144: 144px;
  --size-size-144-rem: 9rem;
  --size-size-160: 160px;
  --size-size-160-rem: 10rem;
  --size-size-192: 192px;
  --size-size-192-rem: 12rem;
  --size-size-224: 224px;
  --size-size-224-rem: 14rem;
  --size-size-240: 240px;
  --size-size-240-rem: 15rem;
  --size-size-288: 288px;
  --size-size-288-rem: 18rem;
  --size-size-320: 320px;
  --size-size-320-rem: 20rem;
  --size-size-384: 384px;
  --size-size-384-rem: 24rem;
  --spacing-48: 192px;
  --spacing-48-rem: 12rem;
  --spacing-56: 224px;
  --spacing-56-rem: 14rem;
  --spacing-64: 256px;
  --spacing-64-rem: 16rem;
  --spacing-80: 320px;
  --spacing-80-rem: 20rem;
  --radii-xs: 0px;
  --radii-xs-rem: 0rem;
  --radii-xl: 12px;
  --radii-xl-rem: 0.75rem;
  --radii-2xl: 20px;
  --radii-2xl-rem: 1.25rem;
  --radii-3xl: 28px;
  --radii-3xl-rem: 1.75rem;
  --radii-4xl: 32px;
  --radii-4xl-rem: 2rem;
  --color-tertiary-950: #142e38;
  --color-highlight-950: #490b06;
  --color-gray-950: #292929;
  --color-accent-950: #432b05;
  --color-secondary-950: #181e20;
  --color-primary-950: #181a3a;
  --border-border-xl: 8px;
  --border-border-xl-rem: 0.5rem;

  /* STYLEGUIDE */
  --surface-surface-background-light-mode: var(--color-default-50);
  --surface-surface-background-dark-mode: var(--color-default-950);
  --surface-surface-primary-default-light-mode: var(--color-primary-500);
  --surface-surface-primary-default-dark-mode: var(--color-primary-500);
  --surface-surface-secondary-default-light-mode: var(--color-secondary-200);
  --surface-surface-secondary-default-dark-mode: var(--color-secondary-900);
  --surface-surface-tertiary-default-light-mode: var(--color-default-50);
  --surface-surface-tertiary-default-dark-mode: var(--color-default-950);
  --text-text-secondary-default-light-mode: var(--color-default-50);
  --text-text-secondary-default-dark-mode: var(--color-default-50);
  --text-text-primary-default-light-mode: var(--color-primary-500);
  --text-text-primary-default-dark-mode: var(--color-primary-50);
  --icon-icon-primary-default-light-mode: var(--color-primary-500);
  --icon-icon-primary-default-dark-mode: var(--color-primary-50);
  --icon-icon-inverted-light-mode: var(--color-default-50);
  --icon-icon-inverted-dark-mode: var(--color-default-50);
  --outline-outline-primary-default-light-mode: var(--color-primary-500);
  --outline-outline-primary-default-dark-mode: var(--color-primary-200);
  --outline-outline-secondary-default-light-mode: var(--color-secondary-500);
  --outline-outline-secondary-default-dark-mode: var(--color-secondary-600);
  --text-text-tertiary-default-light-mode: var(--color-default-950);
  --text-text-tertiary-default-dark-mode: var(--color-default-50);
  --outline-outline-quaternary-light-mode: var(--color-gray-300);
  --outline-outline-quaternary-dark-mode: var(--color-gray-500);
  --surface-surface-quaternary-light-mode: var(--color-gray-300);
  --surface-surface-quaternary-dark-mode: var(--color-gray-800);
  --text-text-inverted-light-mode: var(--color-default-50);
  --text-text-inverted-dark-mode: var(--color-default-50);
  --outline-outline-inverted-light-mode: var(--color-default-50);
  --outline-outline-inverted-dark-mode: var(--color-default-50);
  --surface-surface-background-0-light-mode: rgba(255 255 255 / 0);
  --surface-surface-background-0-dark-mode: rgba(0 0 0 / 0);
  --surface-surface-quinary-light-mode: var(--color-gray-400);
  --surface-surface-quinary-dark-mode: var(--color-gray-700);
  --surface-surface-senary-light-mode: var(--color-tertiary-800);
  --surface-surface-senary-dark-mode: var(--color-tertiary-800);
  --surface-surface-septenary-light-mode: var(--color-tertiary-900);
  --surface-surface-septenary-dark-mode: var(--color-secondary-800);
  --text-text-quaternary-light-mode: var(--color-gray-200);
  --text-text-quaternary-dark-mode: var(--color-gray-300);
  --outline-outline-quinary-light-mode: var(--color-gray-500);
  --outline-outline-quinary-dark-mode: #737373;
  --outline-outline-senary-light-mode: var(--color-gray-600);
  --outline-outline-senary-dark-mode: #545454;
  --outline-outline-septenary-light-mode: var(--color-gray-700);
  --outline-outline-septenary-dark-mode: #333333;
  --text-text-highlight-default-light-mode: var(--color-highlight-700);
  --text-text-highlight-default-dark-mode: var(--color-highlight-600);
  --text-text-highlight-hover-light-mode: var(--color-highlight-800);
  --text-text-highlight-hover-dark-mode: var(--color-highlight-700);
  --text-text-highlight-active-light-mode: var(--color-highlight-900);
  --text-text-highlight-active-dark-mode: var(--color-highlight-800);
  --surface-surface-highlight-default-light-mode: var(--color-tertiary-100);
  --surface-surface-highlight-default-dark-mode: var(--color-tertiary-950);
  --text-text-quinary-light-mode: var(--color-gray-500);
  --text-text-quinary-dark-mode: var(--color-gray-400);
  --surface-surface-highlight-hover-light-mode: var(--color-tertiary-300);
  --surface-surface-highlight-hover-dark-mode: var(--color-tertiary-900);
  --icon-icon-highlight-default-light-mode: var(--color-tertiary-700);
  --icon-icon-highlight-default-dark-mode: var(--color-tertiary-300);
  --icon-icon-secondary-default-light-mode: var(--color-default-50);
  --icon-icon-secondary-default-dark-mode: var(--color-default-50);
  --surface-surface-highlight-active-light-mode: var(--color-tertiary-400);
  --surface-surface-highlight-active-dark-mode: var(--color-tertiary-800);
  --surface-surface-primary-hover-light-mode: var(--color-primary-700);
  --surface-surface-primary-hover-dark-mode: var(--color-primary-600);
  --surface-surface-primary-active-light-mode: var(--color-primary-800);
  --surface-surface-primary-active-dark-mode: var(--color-primary-800);
  --surface-surface-secondary-hover-light-mode: var(--color-secondary-300);
  --surface-surface-secondary-hover-dark-mode: var(--color-secondary-950);
  --surface-surface-secondary-active-light-mode: var(--color-secondary-400);
  --surface-surface-secondary-active-dark-mode: var(--color-default-950);
  --text-text-primary-hover-light-mode: var(--color-primary-700);
  --text-text-primary-hover-dark-mode: var(--color-primary-50);
  --text-text-primary-active-light-mode: var(--color-primary-800);
  --text-text-primary-active-dark-mode: var(--color-primary-50);
  --text-text-secondary-hover-light-mode: var(--color-gray-100);
  --text-text-secondary-hover-dark-mode: var(--color-gray-100);
  --text-text-secondary-active-light-mode: var(--color-gray-200);
  --text-text-secondary-active-dark-mode: var(--color-gray-200);
  --text-text-foreground-default-light-mode: var(--color-secondary-950);
  --text-text-foreground-default-dark-mode: var(--color-secondary-50);
  --text-text-tertiary-hover-light-mode: var(--color-gray-900);
  --text-text-tertiary-hover-dark-mode: var(--color-gray-300);
  --text-text-tertiary-active-light-mode: var(--color-gray-800);
  --text-text-tertiary-active-dark-mode: var(--color-gray-400);
  --icon-icon-foreground-light-mode: var(--color-secondary-950);
  --icon-icon-foreground-dark-mode: var(--color-secondary-50);
  --icon-icon-primary-hover-light-mode: var(--color-primary-700);
  --icon-icon-primary-hover-dark-mode: var(--color-primary-50);
  --icon-icon-primary-active-light-mode: var(--color-primary-800);
  --icon-icon-primary-active-dark-mode: var(--color-primary-50);
  --icon-icon-secondary-hover-light-mode: var(--color-gray-100);
  --icon-icon-secondary-hover-dark-mode: var(--color-gray-100);
  --icon-icon-secondary-active-light-mode: var(--color-gray-200);
  --icon-icon-secondary-active-dark-mode: var(--color-gray-200);
  --icon-icon-highlight-hover-light-mode: var(--color-tertiary-800);
  --icon-icon-highlight-hover-dark-mode: var(--color-tertiary-400);
  --icon-icon-highlight-active-light-mode: var(--color-tertiary-900);
  --icon-icon-highlight-active-dark-mode: var(--color-tertiary-500);
  --outline-outline-primary-hover-light-mode: var(--color-primary-700);
  --outline-outline-primary-hover-dark-mode: var(--color-primary-50);
  --outline-outline-primary-active-light-mode: var(--color-primary-800);
  --outline-outline-primary-active-dark-mode: var(--color-default-50);
  --outline-outline-secondary-hover-light-mode: var(--color-secondary-600);
  --outline-outline-secondary-hover-dark-mode: var(--color-secondary-700);
  --outline-outline-secondary-active-light-mode: var(--color-secondary-700);
  --outline-outline-secondary-active-dark-mode: var(--color-secondary-800);
  --outline-outline-tertiary-default-light-mode: var(--color-default-50);
  --outline-outline-tertiary-default-dark-mode: #b9b9b9;
  --outline-outline-tertiary-hover-light-mode: var(--color-gray-200);
  --outline-outline-tertiary-hover-dark-mode: #b9b9b9;
  --outline-outline-tertiary-active-light-mode: var(--color-gray-400);
  --outline-outline-tertiary-active-dark-mode: #b9b9b9;
  --surface-surface-accent-2-light-mode: var(--color-accent-500);
  --surface-surface-accent-2-dark-mode: var(--color-accent-500);
  --surface-surface-error-light-mode: #e7c6c6;
  --surface-surface-error-dark-mode: #e7c6c6;
  --outline-outline-focus-light-mode: #1063ff;
  --outline-outline-focus-dark-mode: #1063ff;
  --outline-outline-error-light-mode: #9d0000;
  --outline-outline-error-dark-mode: #9d0000;
  --outline-outline-warning-light-mode: #855600;
  --outline-outline-warning-dark-mode: #855600;
  --outline-outline-success-light-mode: #007032;
  --outline-outline-success-dark-mode: #007032;
  --outline-outline-info-light-mode: #0054b3;
  --outline-outline-info-dark-mode: #0054b3;
  --surface-surface-warning-light-mode: #ecdec6;
  --surface-surface-warning-dark-mode: #ecdec6;
  --surface-surface-success-light-mode: #cae8d7;
  --surface-surface-success-dark-mode: #cae8d7;
  --surface-surface-info-light-mode: #d1ddeb;
  --surface-surface-info-dark-mode: #d1ddeb;
  --icon-icon-tertiary-light-mode: var(--color-gray-300);
  --icon-icon-tertiary-dark-mode: var(--color-gray-700);
  --text-text-error-light-mode: #9d0000;
  --text-text-error-dark-mode: #9d0000;
  --text-text-warning-light-mode: #855600;
  --text-text-warning-dark-mode: #855600;
  --text-text-success-light-mode: #007032;
  --text-text-success-dark-mode: #007032;
  --text-text-info-light-mode: #0054b3;
  --text-text-info-dark-mode: #0054b3;
  --surface-surface-tertiary-hover-light-mode: var(--color-gray-100);
  --surface-surface-tertiary-hover-dark-mode: var(--color-gray-950);
  --surface-surface-tertiary-active-light-mode: var(--color-gray-200);
  --surface-surface-tertiary-active-dark-mode: var(--color-gray-800);
  --surface-surface-octonary-light-mode: var(--color-secondary-950);
  --surface-surface-octonary-dark-mode: var(--color-secondary-900);
  --icon-icon-quaternary-light-mode: var(--color-gray-400);
  --icon-icon-quaternary-dark-mode: var(--color-gray-600);
  --icon-icon-quinary-light-mode: var(--color-gray-500);
  --icon-icon-quinary-dark-mode: var(--color-gray-500);
  --icon-icon-senary-light-mode: var(--color-gray-600);
  --icon-icon-senary-dark-mode: var(--color-gray-400);
  --icon-icon-septenary-light-mode: var(--color-gray-700);
  --icon-icon-septenary-dark-mode: var(--color-gray-300);
  --icon-icon-octonary-light-mode: var(--color-default-950);
  --icon-icon-octonary-dark-mode: var(--color-default-50);
  --text-text-senary-light-mode: var(--color-tertiary-600);
  --text-text-senary-dark-mode: var(--color-tertiary-300);
  --text-text-septenary-light-mode: var(--color-tertiary-300);
  --text-text-septenary-dark-mode: var(--color-tertiary-400);
  --text-text-octonary-light-mode: var(--color-secondary-800);
  --text-text-octonary-dark-mode: var(--color-secondary-500);
  --outline-outline-octonary-default-light-mode: var(--color-default-950);
  --outline-outline-octonary-default-dark-mode: #333333;
  --outline-outline-octonary-hover-light-mode: var(--color-gray-800);
  --outline-outline-octonary-hover-dark-mode: #333333;
  --outline-outline-octonary-active-light-mode: var(--color-gray-700);
  --outline-outline-octonary-active-dark-mode: #333333;
  --text-text-foreground-hover-light-mode: var(--color-secondary-900);
  --text-text-foreground-hover-dark-mode: var(--color-secondary-100);
  --text-text-foreground-active-light-mode: var(--color-secondary-950);
  --text-text-foreground-active-dark-mode: var(--color-secondary-50);
  --surface-surface-accent-3-light-mode: var(--color-highlight-700);
  --surface-surface-accent-3-dark-mode: var(--color-highlight-700);
  --surface-surface-accent-light-mode: var(--color-gray-50);
  --surface-surface-accent-dark-mode: var(--color-gray-950);
  --text-text-accent-light-mode: var(--color-secondary-950);
  --text-text-accent-dark-mode: var(--color-secondary-950);
  --outline-outline-disabled-light-mode: var(--color-gray-400);
  --outline-outline-disabled-dark-mode: var(--color-gray-400);
  --icon-icon-foreground-hover-light-mode: var(--color-secondary-900);
  --icon-icon-foreground-hover-dark-mode: var(--color-secondary-100);
  --icon-icon-foreground-active-light-mode: var(--color-secondary-950);
  --icon-icon-foreground-active-dark-mode: var(--color-secondary-50);

  /* UTOPIA */
  --viewport-min-width: "390";
  --viewport-max-width: "1440";
  --type-active: true;
  --type-min-size: "18";
  --type-max-size: "20";
  --type-min-scale: "1.1";
  --type-max-scale: "1.175";
  --type-positive-steps: "7";
  --type-negative-steps: "2";

  /* TYPE PRIMITIVES */
  --font-size-min-step-7: 35.08px;
  --font-size-min-step-7-rem: 2.1925rem;
  --font-size-max-step-7: 61.84px;
  --font-size-max-step-7-rem: 3.865rem;
  --font-size-min-step-6: 31.89px;
  --font-size-min-step-6-rem: 1.9931rem;
  --font-size-max-step-6: 52.63px;
  --font-size-max-step-6-rem: 3.2894rem;
  --font-size-min-step-5: 28.99px;
  --font-size-min-step-5-rem: 1.8119rem;
  --font-size-max-step-5: 44.79px;
  --font-size-max-step-5-rem: 2.7994rem;
  --font-size-min-step-4: 26.35px;
  --font-size-min-step-4-rem: 1.6469rem;
  --font-size-max-step-4: 38.12px;
  --font-size-max-step-4-rem: 2.3825rem;
  --font-size-min-step-3: 23.96px;
  --font-size-min-step-3-rem: 1.4975rem;
  --font-size-max-step-3: 32.44px;
  --font-size-max-step-3-rem: 2.0275rem;
  --font-size-min-step-2: 21.78px;
  --font-size-min-step-2-rem: 1.3613rem;
  --font-size-max-step-2: 27.61px;
  --font-size-max-step-2-rem: 1.7256rem;
  --font-size-min-step-1: 19.8px;
  --font-size-min-step-1-rem: 1.2375rem;
  --font-size-max-step-1: 23.5px;
  --font-size-max-step-1-rem: 1.4688rem;
  --font-size-min-step-0: 18px;
  --font-size-min-step-0-rem: 1.125rem;
  --font-size-max-step-0: 20px;
  --font-size-max-step-0-rem: 1.25rem;
  --font-size-min-step-1: 16.36px;
  --font-size-min-step-1-rem: 1.0225rem;
  --font-size-max-step-1: 17.02px;
  --font-size-max-step-1-rem: 1.0638rem;
  --font-size-min-step-2: 14.88px;
  --font-size-min-step-2-rem: 0.93rem;
  --font-size-max-step-2: 14.49px;
  --font-size-max-step-2-rem: 0.9056rem;
  --font-family-body: var(--typography-font-body);
  --font-weight-regular: "Regular";
  --font-family-heading: var(--typography-font-heading);
  --font-weight-bold: "Bold";
  --font-weight-bold-italic: "Bold italic";
  --font-weight-extrabold-italic: "Extrabold italic";
  --font-weight-medium: "Medium";
  --font-weight-medium-italic: "Medium italic";
  --font-size-mid-step-7: 44.95px;
  --font-size-mid-step-7-rem: 2.8094rem;
  --font-size-mid-step-6: 39.54px;
  --font-size-mid-step-6-rem: 2.4713rem;
  --font-size-mid-step-5: 34.82px;
  --font-size-mid-step-5-rem: 2.1763rem;
  --font-size-mid-step-4: 30.7px;
  --font-size-mid-step-4-rem: 1.9188rem;
  --font-size-mid-step-3: 27.09px;
  --font-size-mid-step-3-rem: 1.6931rem;
  --font-size-mid-step-2: 23.93px;
  --font-size-mid-step-2-rem: 1.4956rem;
  --font-size-mid-step-1: 21.17px;
  --font-size-mid-step-1-rem: 1.3231rem;
  --font-size-mid-step-0: 18.74px;
  --font-size-mid-step-0-rem: 1.1712rem;
  --font-size-mid-step-1: 16.61px;
  --font-size-mid-step-1-rem: 1.0381rem;
  --font-size-mid-step-2: 14.73px;
  --font-size-mid-step-2-rem: 0.9206rem;
  --font-weight-semibold: "Semibold";
  --font-weight-extrabold: "Extrabold";
  --font-weight-light: "Light";
}
